* {

	box-sizing: border-box;
	margin: 0;
	padding: 0;

	//TODO: Add a --media-width-first and --media-width-second css var for media queries for width
}

:root {
	--font: 'Arial';
	font-family: var(--font), 'Arial';
	
	--light-theme-bg: 255, 255, 255;
	--light-theme-fg: 114, 111, 111;
	--light-theme-hl: 191, 124, 1;
	--dark-theme-bg: 38, 38, 38;
	--dark-theme-fg: 255, 255, 255;
	--dark-theme-hl: 1, 191, 113;
	--dark-theme-bg-strong: 1, 6, 6;
	--light-theme-bg-strong: 233, 247, 247;
	--dark-theme-footer-bg: 16, 21, 34;
	--light-theme-footer-bg: 184, 37, 162;
	--err: rgba(245, 124, 100, 1)
}

.light-theme {
	--bg: rgba(var(--light-theme-bg), 1);
	--fg: rgba(var(--light-theme-fg), 1);
	--hl: rgba(var(--light-theme-hl), 1);
	--bg-str: rgba(var(--light-theme-bg-strong), 1);
	--footer-bg: rgba(var(--light-theme-footer-bg), 1);
	--bg-no-rgba: var(--light-theme-bg);
	--fg-no-rgba: var(--light-theme-fg);
	--hl-no-rgba: var(--light-theme-hl);
	--bg-str-no-rgba: var(--light-theme-bg-strong);
	--footer-bg-no-rgba: var(--light-theme-footer-bg);
}

.dark-theme {
	--bg: rgba(var(--dark-theme-bg), 1);
	--fg: rgba(var(--dark-theme-fg), 1);
	--hl: rgba(var(--dark-theme-hl), 1);
	--bg-str: rgba(var(--dark-theme-bg-strong), 1);
	--footer-bg: rgba(var(--dark-theme-footer-bg), 1);
	--bg-no-rgba: var(--dark-theme-bg);
	--fg-no-rgba: var(--dark-theme-fg);
	--hl-no-rgba: var(--dark-theme-hl);
	--bg-str-no-rgba: var(--dark-theme-bg-strong);
	--footer-bg-no-rgba: var(--dark-theme-footer-bg);
}

@keyframes textTransition {
	0% {color: var(--fg)}
	50% {color: var(--hl)}
	100% {color: var(--fg)}
}