* {
	--font: 'Encode Sans Expanded';

	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font), sans-serif;
}

/* :root {} */

.light-theme {
	--bg: #ffffff;
	--fg: #726f6f;
	--hl: #bf7c01;
}

.dark-theme {
	--bg: #262626;
	--fg: #fff;
	--hl: #01bf71;
}

@keyframes textTransition {
	0% {color: var(--fg)}
	50% {color: var(--hl)}
	100% {color: var(--fg)}
}